# SPDX-License-Identifier: GPL-2.0-only

config HAYLEY_FS
	tristate "Hayley filesystem"
	depends on FS_DAX
	depends on X86_PMEM_LEGACY
	help
	  HayleyFS 

config HAYLEY_FS_DEBUG
	bool "HayleyFS debugging support"
	depends on HAYLEY_FS
	help 
	  Enable this to compile the kernel with support for using Chipmunk to test HayleyFS. 